@import './variable.scss';

$primaryColor: map-get($theme, 'Primary');
$borderColor: #8a8886;

.button {
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  padding: 0 16px;
  height: 32px;
  background-color: #FFF;
  color: #323130;
  user-select: none;
  outline: transparent;
  border: 1px solid $borderColor;
  border-image: initial;
  text-decoration: none;
  border-radius: 2px;

  &.button--compound {
    padding: 16px 12px;
    height: auto;
  }
  
  .button__label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-weight: 600;

    .icon {
      margin: 0 4px;
      color: $primaryColor;
    }
  }

  .button__description {
    margin: 5px 0 0 0;
  }

  &:hover {
    background-color: darken($color: #FFF, $amount: 5);
    border-color: lighten($color: $borderColor, $amount: 5);
  }

  &:active {
    background-color: darken($color: #FFF, $amount: 10);
    border-color: lighten($color: $borderColor, $amount: 10);
  }
}

.button.button--primary {
  color: #FFF;
  background-color: $primaryColor;
  border-color: $primaryColor;

  &.button--plain {
    color: $primaryColor;
  }

  .button__label .icon {
    color: #FFF;
  }

  &:hover {
    background-color: darken($color: $primaryColor, $amount: 5);
    border-color: darken($color: $primaryColor, $amount: 5);
  }

  &:active {
    background-color: darken($color: $primaryColor, $amount: 10);
    border-color: darken($color: $primaryColor, $amount: 10);
  }
}

.button.button--plain {
  background-color: transparent;
  border-color: transparent;

  .button__label {
    font-weight: normal;

    .icon {
      color: $primaryColor;
    }
  }

  &:hover {
    background-color: darken($color: #FFF, $amount: 5);
    border-color: darken($color: #FFF, $amount: 5);
  }

  &:active {
    background-color: darken($color: #FFF, $amount: 10);
    border-color: darken($color: #FFF, $amount: 10);
  }
}

