@import 'variable.scss';
@import 'mixins/focusStyle';

.button {
  font-size: $font-size-medium;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  padding: 0 16px;
  height: 32px;
  background-color: $white;
  color: $neutralPrimary;
  user-select: none;
  border: 1px solid $neutralSecondaryAlt;
  border-image: initial;
  text-decoration: none;
  border-radius: $roundedCorner2;

  &:hover {
    color: $neutralDark;
    background-color: $neutralLighter;
  }

  &:active {
    color: $neutralDark;
    background-color: $neutralLight;
  }

  @include focus-after-outline(2px);

  &:disabled {
    &,
    &:hover,
    &:focus {
      background-color: $neutralLighter;
      border-color: $neutralLighter;
      color: $neutralQuaternary;
      cursor: default;
      pointer-events: none;
      outline: 0;
    }
  }

  &.button--compound {
    padding: 16px 12px;
    height: auto;
  }

  .button__label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-weight: 600;

    .icon {
      margin: 0 4px;
    }
  }

  .button__description {
    margin: 5px 0 0 0;
  }
}

.button.button--plain {
  background-color: transparent;
  border-color: transparent;
  color: $neutralPrimary;

  &:hover {
    @extend .button:hover;
  }

  &:active {
    @extend .button:active;
  }

  &:disabled {
    @extend .button:disabled;
    background: $white;
  }
}

.button.button--primary {
  color: $white;
  background-color: $themePrimary;
  border-color: transparent;

  &:hover {
    color: $white;
    background-color: $themeDarkAlt;
  }

  &:active {
    color: $white;
    background-color: $themeDark;
  }

  &:disabled {
    &,
    &:hover,
    &:focus {
      background-color: $themeLighter;
      color: $themeTertiary;
      cursor: default;
      pointer-events: none;
      outline: 0;
    }
  }

  @include focus-after-outline(2px, $white);
}

.button.button--primary.button--plain {
  color: $themePrimary;
  background-color: $white;

  &:hover {
    @extend .button:hover;
    color: $themePrimary;
    background-color: $neutralLighter;
  }

  &:active {
    @extend .button:active;
    color: $themePrimary;
    background-color: $neutralLight;
  }

  &:disabled {
    @extend .button:disabled;
    color: $themeTertiary;
    background: $white;
    border-color: $themeLighter;
  }
  @include focus-after-outline(2px);
}
